<form novalidate [formGroup]="form">
    <h3>Repo Filter</h3>
    <div class="row">
        <div class="col-md-6">
            <input type="text" formControlName="name" class="form-control" placeholder="Name" />
        </div>
        <div class="col-md-6">
            <input type="text" formControlName="language" class="form-control" placeholder="Language" />
        </div>
        <div class="col-md-6">
            <input type="text" formControlName="description" class="form-control" placeholder="Description" />
        </div>
        <div class="col-md-6">
            <input type="number" formControlName="size" class="form-control" placeholder="Size" />
        </div>

        <div class="col-md-12 col-sm-12">
            <button class="btn btn-primary float-right" (click)="search(form.value)">Search</button>
        </div>
    </div>